@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400,500,600,800&family=Inter:wght@400;700&display=swap");
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}
body a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

header.header {
  background: #ffffff;
  padding: 15px 0;
}
header.header .brand img {
  margin-right: 10px;
}
header.header .slogan {
  color: #00bbf0;
  font-size: 18px;
  font-weight: 500;
  vertical-align: bottom;
}
header.header .phone {
  white-space: pre;
  border-radius: 50px;
  padding: 8px 16px;
  background-color: #2ea3f2;
  display: inline-flex;
  box-sizing: border-box;
}
@media screen and (max-width: 992px) {
  header.header .phone {
    padding: 16px;
  }
}
header.header .phone:hover {
  background-color: #1b6fa8;
  text-decoration: none;
}
header.header .phone img {
  vertical-align: unset;
  width: 24px;
}
header.header .phone .phone-no {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: block;
  padding: 0 5px;
}
@media screen and (max-width: 1040px) {
  header.header .phone .phone-no {
    font-size: 16px;
  }
}

.hero {
  background-color: #fff;
  padding: 32px 0;
  overflow: hidden;
}
.hero .container {
  position: relative;
  z-index: 1;
}
.hero .container .row {
  min-height: 400px;
}
@media screen and (max-width: 992px) {
  .hero .container .row {
    min-height: auto;
  }
}
@media screen and (max-width: 1040px) {
  .hero {
    height: auto;
    top: 0;
    bottom: auto;
    text-align: center;
    padding: 16px;
  }
}
@media screen and (max-width: 1040px) {
  .hero .hero-content {
    background-color: #FFF;
    border-radius: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-top: 200px;
  }
}
.hero .hero-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 1040px) {
  .hero .hero-bg {
    display: none;
  }
}
.hero h1 {
  color: #000;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: bold;
  line-height: 120%; /* 54px */
  letter-spacing: -0.9px;
  margin-bottom: 16px;
}
@media screen and (max-width: 1040px) {
  .hero h1 {
    font-size: 22px;
    text-align: center;
  }
}
.hero p {
  color: #000;
  font-size: 20px;
  line-height: 120%; /* 24px */
}
@media screen and (max-width: 1040px) {
  .hero p {
    font-size: 14px;
  }
}

.quote-form {
  padding: 32px 16px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: -50px;
  position: relative;
  background-color: #fff;
}
@media screen and (max-width: 992px) {
  .quote-form {
    flex-direction: column;
    align-items: center;
    padding: 16px;
    justify-content: center;
    text-align: center;
    max-width: 340px;
    margin: auto;
    box-shadow: none;
  }
}
.quote-form .input-grp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
@media screen and (max-width: 1040px) {
  .quote-form .input-grp {
    width: 100%;
  }
}
.quote-form .input-grp .input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.quote-form .input-grp input {
  border-radius: 50px;
  border: 1px solid #373435;
  background: #fff;
  height: 68px;
  padding: 12px 16px;
  text-align: center;
  max-width: 220px;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 1040px) {
  .quote-form .input-grp input {
    max-width: 320px;
  }
}
.quote-form .input-grp input:focus {
  outline: 2px solid #373435;
  border-color: #373435;
}
.quote-form .submit-btn {
  border-radius: 50px;
  background: #2ea3f2;
  box-shadow: 2px 2px 0 0 #000;
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  display: flex;
  height: 68px;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  max-width: 280px;
  transition-duration: 0.3s;
}
@media screen and (max-width: 1040px) {
  .quote-form .submit-btn {
    width: 100%;
    max-width: 320px;
  }
}
.quote-form .submit-btn:hover {
  box-shadow: 4px 4px 0 0 #000;
  transform: translateY(-2px);
  background-color: #1b6fa8;
}

.insurace-partners {
  padding: 32px 0;
}
@media screen and (max-width: 992px) {
  .insurace-partners {
    padding: 32px 0 32px 0;
  }
}
.insurace-partners .heading {
  color: #4a4f5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}
@media screen and (max-width: 780px) {
  .insurace-partners .heading {
    font-size: 14px;
  }
}

.content {
  padding-bottom: 32px;
}
.content ul {
  list-style: none;
  padding: 5px 0;
  margin: 0 0 16px;
  font-weight: bold;
}
.content ul li {
  padding: 5px 0;
  display: flex;
  align-items: start;
  gap: 10px;
}
.content ul li img {
  margin-top: 4px;
}
.content .icon-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}
@media screen and (max-width: 780px) {
  .content .icon-list {
    flex-wrap: wrap;
  }
}
.content .icon-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-width: 200px;
  justify-content: center;
  padding: 10px !important;
}
.content .icon-list li::before {
  content: "🚗";
  margin-right: 0.5rem;
  font-size: 3rem;
}
.content .icon-list li:nth-child(2)::before {
  content: "🚚";
}
.content .icon-list li:nth-child(3)::before {
  content: "🚐";
}
.content .icon-list li:nth-child(4)::before {
  content: "🚛";
}
.content .icon-list li:nth-child(5)::before {
  content: "🔧";
}

.contact-us {
  padding: 32px 16px;
  align-items: center;
  gap: 10px;
  background: #daf5ff;
}
@media screen and (max-width: 992px) {
  .contact-us {
    padding: 16px;
  }
}
.contact-us .contact-subtitle {
  color: var(--Gray, #373435);
  font-size: 20px;
}
.contact-us .button {
  display: inline-flex;
  padding: 16px;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 50px;
  background: #2ea3f2;
  transition-duration: 0.3s;
  white-space: pre;
}
.contact-us .button img {
  vertical-align: unset;
  width: 24px;
}
.contact-us .button:hover {
  box-shadow: 4px 4px 0 0 #000;
  transform: translateY(-2px);
  background-color: #1b6fa8;
}

.testimonial-section {
  background-color: #ecfaff;
  padding: 48px 0;
}
@media screen and (max-width: 992px) {
  .testimonial-section {
    padding: 32px 0;
  }
}
.testimonial-section .testimonial-content {
  text-align: center;
  margin: 0 auto;
}
.testimonial-section .testimonial-title {
  color: #21212d;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}
@media screen and (max-width: 992px) {
  .testimonial-section .testimonial-title {
    font-size: 24px;
  }
}
.testimonial-section .testimonial-subtitle {
  color: var(--Gray, #373435);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
@media screen and (max-width: 992px) {
  .testimonial-section .testimonial-subtitle {
    font-size: 16px;
    margin-bottom: 24px;
  }
}
.testimonial-section .testimonial-quotes {
  display: flex;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 992px) {
  .testimonial-section .testimonial-quotes {
    flex-direction: column;
    gap: 16px;
  }
}
.testimonial-section .testimonial-quote {
  padding: 32px;
  background-color: #fff;
  border-radius: 20px;
}
@media screen and (max-width: 992px) {
  .testimonial-section .testimonial-quote {
    padding: 24px;
  }
}
.testimonial-section .testimonial-quote .name {
  display: flex;
  align-items: center;
}
.testimonial-section .testimonial-quote .name img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.testimonial-section .testimonial-quote blockquote {
  font-style: italic;
  color: #2c3e50;
  margin: 0;
  position: relative;
  color: #494954;
  text-align: left;
  font-family: "Playfair Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  letter-spacing: -0.2px;
  margin-bottom: 16px;
}
@media screen and (max-width: 992px) {
  .testimonial-section .testimonial-quote blockquote {
    font-size: 16px;
  }
}
.testimonial-section .testimonial-quote blockquote::before {
  content: '"';
  font-size: 48px;
  color: #2b8aff;
  position: absolute;
  top: -10px;
  left: -20px;
  font-family: serif;
}

footer {
  color: #373435;
}
footer a {
  color: #373435;
}/*# sourceMappingURL=commercialauto.css.map */