.quote-form {
  padding: 5px;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  max-width: 600px;
  background: linear-gradient(97deg, #7047ef 45.98%, #9551fb 96.43%);
  border-radius: 50px;
  @include lgmax {
    margin: auto;
  }
  @include smmax {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin: auto;
    border-radius: 40px;
    padding: 4px;
    gap: 10px;
  }
  .input-grp {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    border-radius: 40px;
    @include lgmax {
      width: 100%;
    }
    .input-icon {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      img {
        width: 30px;
      }
      @include lgmax {
        left: 5px;
        img {
          width: 20px;
        }
      }
    }
    input {
      border-radius: 50px;
      border: 1px solid #373435;
      background: #fff;
      height: 68px;
      padding: 12px 16px;
      text-align: center;
      max-width: 220px;
      font-weight: bold;
      font-size: 20px;
      @include lgmax {
        font-size: 14px;
        max-width: 140px;
        padding: 5px;
        height: 50px;
      }
      &:focus {
        outline: 2px solid #373435;
        border-color: #373435;
      }
    }
  }

  .submit-btn {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    height: 68px;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
    width: 100%;
    transition-duration: 0.3s;
       border-radius: 50px;
    @include lgmax {
      max-width: 100%;
      white-space: nowrap;
      font-size: 14px;
        max-width: 100%;
        border-radius: 20px;
        padding: 5px 15px;
        height: 50px;

    }
    &:hover {
      transform: translateY(-2px);
       background: linear-gradient(97deg, #9551fb 45.98%, #7047ef 96.43%);
    }
  }
}